<div class="formulario">
  <form action="">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="productName"
        placeholder="Nome do produto"
      />
      <label for="productName">Nome do produto</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="date"
        class="form-control"
        id="dataDeEntrega"
        placeholder="Data"
      />
      <label for="dataDeEntrega">Data de entrega</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="partida"
        placeholder="Partida"
      />
      <label for="partida">Partida</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="chegada"
        placeholder="Chegada"
      />
      <label for="partida">Chegada</label>
    </div>
    <button type="button" class="btn btn-success w-100">Success</button>
  </form>
</div>
